@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Scripture Journal!</h1>
    <p>Hello! My name is Glory and this is an eJournal of my favorite Bible Scriptures. Use the navigation bar above!</p>
    <img src="https://cdn.shopify.com/s/files/1/0274/6902/1261/products/bible-memory-journal_1024x1024@2x.jpg?v=1660159503" alt="A well detailed image of a Scripture Journal Book" width="884" height="518"/>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

